apiVersion: v1
kind: Secret
metadata:
  labels:
    app.kubernetes.io/name: docker-registry
    app.kubernetes.io/instance: secret
    app.kubernetes.io/component: global
    app.kubernetes.io/part-of: rlq
  name: docker-registry
data:
  .dockerconfigjson: <base64 of the .docker/config.json file>
type: kubernetes.io/dockerconfigjson