apiVersion: v1
kind: Secret
metadata:
  labels:
    app.kubernetes.io/name: minio-secret
    app.kubernetes.io/instance: secret
    app.kubernetes.io/component: object-_handler
    app.kubernetes.io/part-of: storage
  name: minio-secret
data:
  MINIO_ACCESSKEY: <MINIO_ACCESS_KEY>
  MINIO_SECRETKEY: <MINIO_SECRET_KEY>
  AWS_ACCESS_KEY_ID: <MINIO_ACCESS_KEY>
  AWS_SECRET_ACCESS_KEY: <MINIO_SECRET_KEY>