apiVersion: v1
kind: Secret
metadata:
  labels:
    app.kubernetes.io/name: mongo-secret
    app.kubernetes.io/instance: secret
    app.kubernetes.io/component: db
    app.kubernetes.io/part-of: storage
  name: mongo-secret
data:
  MONGO_USER: <MONGO_ROOT_USER_BASE64>
  MONGO_PASSWORD: <MONGO_ROOT_PASSWORD_BASE64>